@font-face {
    font-family: 'Zurich Extended';
    src: url('./assets/Zurich-Black-Extended-BT.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Zurich';
    src: url('./assets/Zurich-Regular.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}



body{
    width: 100%;
    height: 100vh;
    background-color: #f3f2ec;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    color: #282828;
}

.itw {
    padding: 64px 0 64px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.si{
    width: 500px;
    height: 500px;
    background-color: #fff;
}

.st{
    max-width: 564px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 69px 0 69px;
    text-align: center;
}
.tt{
    font-size: 36px;
    font-family: "Zurich Extended",sans-serif;
    font-weight: 800;
    letter-spacing: -0.8px;
    line-height: 40px;
    text-transform: uppercase;
}
.pr{
    font-size: 15px;
    font-family: "Zurich",sans-serif;
    line-height: 25px;
}
.progressBarContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 32px;
}
.ibt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    padding: 3px;
    text-transform: uppercase;
    font-weight: 800;
    color: #282828;
    cursor: pointer;
    margin: 0 12px;
}
.ibt .progressBar{
    width: 32px;
    height: 2px;
    background-color: #ddd;
    border-radius: 10px;
    margin-bottom: 16px;
}

.progressBar .inProgress {
    background-color: #282828;
    width: 0%;
    height: 2px;
    border-radius: 10px;
  }

  .sbt{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Zurich',sans-serif;
  }

  .split-line{
    overflow: hidden;
  }

  .split-parent{
    overflow: hidden;
  }

@media screen and (max-width: 600px) {
    .itw{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .si{
        width: 294px;
        height: 294px;
        margin-bottom: 28px;
    }
    .st, .slick-slider{
        font-size: 14px;
        padding: 0 64px 0 64px !important;
    }
    .tt{
        font-size: 26px;
        line-height: 30px;
    }
    .pr, .ibt{
        font-size: 14px;
        line-height: 24px;
    }
}
